body, h1, h2, p, ul, li {
    margin:0;
    padding: 0;
}
header{
    background-color: powderblue;
    color: blue;
    text-align: center;
    padding: 20px;
}
.top-navbar{
    background-color: aqua;
    text-align: center;
}
 .top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-navbar li {

    margin-right: 20px;
}
.top-navbar a {
    text-decoration: none;
    color: blueviolet;
}
section {
    flex: 1;
    padding: 20px;
}
aside{
    flex: 0 0 30%;
    background-color:bisque;
    padding: 20px;
}
footer{
    background-color: aliceblue;
    color: palevioletred;
    text-align: center;
    padding: 10px;
}